html, body, div, span, h1, h2, h3, h4, h5, h6, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	font-family:"Courier New", Courier, monospace;
}

p {
	text-align:center;
}

.headings {
	position:relative;
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
	margin-top:2em;
	color: rgba(100,100,200,.9);
}

a {
	text-decoration:none;
	color:#339;
}

a:hover {
	background-color: #339;
	color: #aef;
}

/* navbar */
#nav {
	position:fixed;
	z-index:1;
}

ul {
	position:fixed;
	list-style-type:none;
	margin:0;
	padding: 3.4em 0 0 0;
	width:100%;
	overflow:auto;
	display:inline-block;
	background-color: #337;
}

ul li {
	float:left;
}

ul li a {
	text-align:center;
	display: block;
	padding: 8px 20px;
	text-decoration:none;
	font-weight:bold;
	color: #cce;
}

ul li a.active {
	color:#caa;
	background-color:#66d;
}

ul li a:hover:not(.active) {
	background-color: #cce;
	color: #337;
}

/* End navbar */

body {
	background-color:#eee;
	width:100%;
	height:100%;
	font-family:"Courier New", Courier, monospace;
}

#right_col {
	float:right;	
	z-index:1;
	margin-top:5em;	
	width: 100%;
	overflow:auto;
}

.imagePage {
	text-align:center;
}

#label {
	text-align:left;
	margin-left:25%;
}

.center {
	position:relative;
	width:80%;
	margin:.2em auto auto auto;
	padding:3em;
	border: .4em solid rgba(100,100,200,.9);
	border-radius:.5em;
	background-color: #ccc;
	color: rgba(100,100,200,.9);
}

table {
	margin:0 auto;
}

input, select, button, input[type="file"], input[type="checkbox"] { 
	background-color: #ccc;
	color: rgba(100,100,200,.9);
	border:.15em solid #aaa;
	border-radius:.5em;
	font-weight:bold;
}

input[type="submit"]:hover, button:hover, input[type="file"]:hover {
	background-color: #aad;
	color: #22a;
}

th {
	background-color: #888;
	padding: .1em 1em .1em 1em;
	color: #ccf;
}

td {
	letter-spacing:.01em;
	font-weight:bold;
	padding-right: .5em;
}

#top {
	position: fixed;
	z-index:2;
	vertical-align:middle;
	width:100%;
	background-color: #ccc;
	text-align:center;
	font-size: 3em;
	padding: 1em, 0, 1em, 0;
	color: rgba(100,100,150,.9);
	top: 0;
}

#membername {
	position: fixed;
	z-index:3;
	color: rgba(100,100,150,.9);
	bottom:0;
	padding: 0 0 1em 1em;
}

#logo {
	position: fixed;
	height: 8%;
	right: 1em;
	bottom: 1em;
	z-index:2;
}

.errorText {
	font-size:.9em;
	color:#c55;
}

footer {
	position: fixed;
	bottom:1em;
	right:6em;
	color:#66d;
}