html, body, div, span, h1, h2, h3, h4, h5, h6, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	font-family:"Courier New", Courier, monospace;
}

p {
	font-weight: bold;
	text-align:center;
}

.headings, .artworkHeader, .artworkHeaderEven {
	position:relative;
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
	margin-top:2em;
	color: rgba(100,100,200,.9);
}

.memberart, .memberartEven, .contacts { border: .2em solid #aaaadd; border-radius: .5em; }

/* Even Members Artwork Page */
.artworkHeaderEven 
	{ margin-top:.8em; }
#accordion > table.memberartEven, 
.artworkHeaderEven,
#accordion > table.memberartEven > tbody > tr > td > a
	{ background-color: rgba(120, 80, 110, .9); color: #e0c099; }


/* Odd Members' Artwork Page */
.artworkHeader 
	{ margin-top:.8em; }
#accordion > table.memberart,
.artworkHeader,
#accordion > table.memberart > tbody > tr > td > a 
	{ background-color: rgba(80,80,160,.9); color: #bbdbff; }

/* hover links */
#accordion > table.memberart > tbody > tr > td > a:hover,
#accordion > table.memberartEven > tbody > tr > td > a:hover
 { background-color: #222222; color: #bbdbff; }

	
hr {
	width:75%;
	border-width:.1em;
	color: rgba(100,100,200,.9);
	border-radius: 1em;
}

/* navbar */
.navbar {
	position:fixed;
	z-index:1;
}

ul {
	position:fixed;
	list-style-type:none;
	margin:0;
	padding: 3.4em 0 0 0;
	width:100%;
	overflow:auto;
	display:inline-block;
	background-color: #337;
}

ul li {
	float:left;
}

ul li a {
	text-align:center;
	display: block;
	padding: 8px 20px;
	text-decoration:none;
	font-weight:bold;
	color: #cce;
}

.navbar-toggle { display: none; }

.navbar-item { display:inline-block; }

ul li a.active {
	color:#caa;
	background-color:#66d;
}

ul li a:hover:not(.active) {
	background-color: #cce;
	color: #337;
}

.more { display: none; }

/* End navbar */
body {
	background-color:#eee;
	width:100%;
	height:100%;
	font-family:"Courier New", Courier, monospace;
}

#right_col {
	float:right;	
	z-index:1;
	margin-top:5em;	
	width: 100%;
	overflow:auto;
	padding-bottom:3em;
}

.imagePage {
	text-align:center;
}

.center {
	position:relative;
	width:80%;
	margin:.2em auto auto auto;
	padding:3em;
	border: .4em solid rgba(100,100,200,.9);
	border-radius:.5em;
	background-color: #ccc;	
	color: rgba(60,60,180,.9);
}

table {
	margin:0 auto;
	padding:.5em;
	/*background-color: #aaf;
	border-radius: .5em;*/
}

#accordion { background-color: #cccccc; }

#accordion > table { background-color: #cccccc; width:100%;}

#artworkLinks { padding-top:0; } 

input, select, button, input[type="file"] { 
	background-color: #ccc;
	color: rgba(100,100,200,.9);
	border:.15em solid #aaa;
	border-radius:.5em;
	font-weight:bold;
	font-size:100%;
}

input[type="submit"]:hover, button:hover, input[type="file"]:hover {
	background-color: #aad;
	color: #22a;
}

th {
	background-color: #676767;
	padding: .1em 1em .1em 1em;
	color: #adccce;
	border-radius: .25em;
}

td {
	letter-spacing:.01em;
	font-weight:bold;
	padding: .05em .5em .05em .5em;
}

a {
	font-weight:bold;
	text-decoration:none;
	color:#339;
}

a:hover {
	background-color: #339;
	color: #aef;
}

td a {
	border: 1.5px solid #aaaacc;
	border-radius: .5em;
	text-align: center;
}

input[type="text"]:disabled {
    border: none;
	color: #444488;
}

#top {
	position: fixed;
	z-index:2;
	vertical-align:middle;
	width:100%;
	background-color: #ccc;
	text-align:center;
	font-size: 3em;
	padding: 1em, 0, 1em, 0;
	color: rgba(100,100,150,.9);
	top: 0;
}

#membername {
	position: fixed;
	z-index:3;
	color: rgba(100,100,150,.9);
	bottom:0;
	padding: 0 0 1em 1em;
}

#logo {
	position: fixed;
	width:4.5em;
	right: 1em;
	bottom: 1em;
	z-index:2;
}

.errorText {
	font-size:.9em;
	color:#c55;
}

footer {
	position: fixed;
	bottom:1em;
	right:6em;
	color:#66d;
}

@media only screen and (max-width: 1000px) {
	#top { display: none; }
	nav {}
	ul { float:none; padding: 0; }
	ul li a { display:block; height: 1.2em; font-size: 1.5em; }
	ul li { width:100%; height: 2.3em; }
	.headings { margin-top: 0; }
	.navbar-item { display: none; }
	.navbar-toggle { display: block; }
	html, body, div, span, h1, h2, h3, h4, h5, h6, footer, header { font-size: 1.2em; background-color: #eee; }
	footer, #membername { display: none; }
	.center, #right_col {  padding: 0; width: 100%; height: 100%; border:none; background-color: #eee; color: rgb(75,75,200); }
	table { margin: 0; width: 100%; height:100%; }
	td { text-align: center; }
	td a { background-color: #dcc; border:none; text-align: center; }
	input, select { border: .1em solid #ccc; background-color: #dde; }
	#right_col > div.center.artwork > form > table > tbody > tr > td > input[type="checkbox"] { width:1.2em; height:1.2em; }
}